@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: theme(colors.white);
    --fg: theme(colors.gray.900);
  }
  .dark {
    --bg: theme(colors.gray.950);
    --fg: theme(colors.gray.50);
  }
}
